*{
	margin: 0;
	padding: 0;
}
html{
	position: relative;
}
body{
	background-color: #f3f3f3;
	margin: 0;
}
#header{
	position:relative;
	height:200px;
	width:100%;
	background-color:black;
}
#buttons{
	position: relative;
	min-height: 100px;
	width: 100%;
}
#center-text{
	position: relative;
	min-height: 300px;
	width: 100%;
	text-align: center;
	font-size: 42px;
	padding-top:30px;
}
.home_button{
	position: relative;
	min-height: 70px;
	width: 47%;
	float: left;
	margin-top: 10px;
	margin-left: 2%;
	background-color:black;
	border-radius: 8px;

}
.home_button > p{
	padding:15px;
	font-size: 36px;
	text-align: center;
	color:white;
}
.button{
	position: relative;
	border: none;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.header_button{
	position: relative;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	float: right;
	background-color: white;
	color: black;
	border: 5px solid #f8a100;
}

.header_button:hover{
	position: relative;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f8a100;
	color: white;
}