{% extends "base.html" %}

{% block title %}Chatroom{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div id="chatroom">
            <div class="form-group">
                <label for="chatroommsg">Treść wiadomości</label>
                <input
                        type="text"
                        class="form-control"
                        id="chatroommsg"
                        name="chatroommsg"
                        placeholder="Twoja wiadomość..."
                />
            </div>
            <button class="btn btn-primary" id="sendBtn">Wyświetl wiadomość!</button>
            <a class="btn btn-primary" id="leaveBtn" href="/chatroom/{{ room_id }}/leave">Opuść pokój</a>
    </div>
{% endblock %}

